
@tailwind base;
@tailwind components;
@tailwind utilities;



#nprogress .bar {
    background-color: #63a0da00 !important; /* Change this to your desired color */
}


/* 
pre {
    width: 100%;
    color: white;
    background-color: black;
} */